{% extends 'base.html.twig' %}

{% block body %}
    <p>
    Carmelo Kiyan Anthony (ur. 29 maja 1984 w Nowym Jorku) – 
    amerykański koszykarz grający w NBA w zespole New York Knicks. 
    Mistrz Olimpijski z Igrzysk 2008 r. Otrzymał tytuł Najlepszego 
    Koszykarza USA w 2006 r.
    
    Carmelo Anthony urodził się w nowojorskiej dzielnicy Brooklyn. 
    Jego ojciec był Portorykańczykiem, a matka Afroamerykanką. 
    Ojciec Carmelo umarł na raka, kiedy syn miał 3 lata. 
    Anthony ma także dwóch braci, Roberta i Wilforda, siostrę Michelle oraz 
    przyrodnią siostrę Daphne. 
    W 1992 przeprowadził się do Baltimore, gdzie rozpoczął swoją koszykarską karierę.
    
    Anthony gra na pozycji small forward, choć może też grać jako power forward. 
    Anthony jest świetnym rzucającym. Jest uznawany za jednego z najlepszych 
    gracz wpływających na ostateczne wyniki swojej drużyny (w sezonie 2005/2006 
    w aż 5 meczach zdecydował o wyniku swojej drużyny rzucając celnie w ostatnich 
    sekundach meczu). Mimo, że jest wyborowym strzelcem, świetnie radzi sobie także 
    ze zbiorkami w czasie meczu, jest krytykowany za swoją grę w defensywie i nigdy
    nie był wybrany do zespołu NBA All-Defensive.
    </p>
    
{% endblock %}