{% extends 'base.html.twig' %}

{% block body %}
    <p>
    Marc Gasol Sáez (ur. 29 stycznia 1985 w Barcelonie) – 
    hiszpański koszykarz, narodowości katalońskiej, środkowy. 
    Srebrny medalista olimpijski z Pekinu i Londynu. Złoty medalista mistrzostw 
    Europy Eurobasket 2009. Aktualnie zawodnik Memphis Grizzlies.

    Jego starszy brat Pau, jest jedną z gwiazd NBA, reprezentuje barwy Chicago Bulls. 
    Wychowywał się juniorskich zespołach Barcelony. W latach 2001-03 przebywał w 
    Memphis, gdzie grał w drużynie szkolnej Lausanne Collegiate School. Po powrocie 
    do Hiszpanii ponownie został zawodnikiem Barcelony (mistrzostwo Hiszpanii w 2004),
    skąd w 2006 odszedł do Girony. Z Gironą zdobył FIBA EuroCup (2007), był MVP 
    rozgrywek ligi ACB (2008). W składzie Hiszpanii na MŚ 06 pełnił rolę rezerwowego 
    środkowego. Rok później zdobył srebrny medal ME 2007. W Pekinie, pełniąc
    poważniejszą rolę w drużynie, wywalczył olimpijskie srebro. We wrześniu 2009 
    razem z drużyną wygrał ME 2009, walnie przyczyniając się do sukcesu Hiszpan.

    W 2007 roku został wybrany z 48 numerem draftu NBA przez Los Angeles Lakers. 
    Prawa do niego zostały oddane (w transferze brata) do Memphis Grizzlies. Kontrakt 
    z tym zespołem podpisał latem 2008.

    W 2012 oraz 2015 roku wystąpił w NBA All-Star Game,a w 2013 wygrał NBA Defensive 
    Player of the Year Award.
    </p>
    
{% endblock %}