{% extends 'base.html.twig' %}

{% block body %}
    <p>
        Marcin Gortat.
        polski koszykarz, wychowanek Łódzkiego Klubu Sportowego, reprezentant Polski, od sezonu 2013/14 zawodnik Washington Wizards. Jako jedyny Polak w historii NBA awansował do jej finału.
        28 czerwca 2005 w nowojorskiej Madison Square Garden wziął udział w drafcie NBA, zostając wybrany w II rundzie z numerem 57. przez Phoenix Suns (z Dallas Mavericks przez New Orleans Hornets). Nowy klub szybko oddał go jednak do Orlando Magic. W rozgrywkach NBA zadebiutował 1 marca 2008 przeciwko New York Knicks (118:92), przebywając na boisku przez 2 minuty i 21 sekund, zdobywając 2 punkty, zaliczając zbiórkę i faul. 5 marca 2008 w meczu z Washington Wizards Gortat zdobył 4 punkty oraz miał dwie zbiórki w ataku. W ostatnim meczu sezonu zasadniczego, 16 kwietnia 2008, zagrał 28 minut, zdobył 12 punktów oraz 11 zbiórek.

W sumie Gortat w sezonie zasadniczym pojawił się na parkiecie w 6 meczach grając średnio ponad 6 minut, podczas których notował na swoim koncie średnio 3 punkty i niecałe 3 zbiórki. Znalazł się w składzie Orlando na decydujące o mistrzostwie rozgrywki play-off.
    </p>
{% endblock %}