{% extends 'base.html.twig' %}

{% block body %}
    <p>
        Michael Jordan.
        Rodzina Jordana pochodziła z Karoliny Północnej, gdzie mieszkał jego pradziadek, Dawson[2]. W 1962 roku rodzice Michaela, James i Deloris z d. Peoples, przenieśli się do Nowego Jorku, gdzie James uczęszczał na kurs mechaniki i hydrauliki, a Deloris pracowała w banku. Tam też urodził się Michael. Po niecałych dwóch latach rodzina wróciła do Karoliny. Michael wychował się początkowo w Wallace, a potem w Wilmington, gdzie ojciec pracował w elektrowni, a matka w banku. Ma dwóch starszych braci, Larry’ego i Jamesa Raymonda Jr. (Ronniego), oraz dwie siostry – starszą Deloris i młodszą Roslyn.

Podczas nauki w podstawówce w Wilmigton najbardziej interesował się baseballem, a w koszykówkę grywał z bratem, na boisku wybudowanym za domem. Starszy i mocniej zbudowany Larry nieustannie go ogrywał. W szkole grał w drużynach footballowej, baseballowej i wreszcie koszykarskiej. Kiedy wybrał się do szkoły średniej Emsley A. Laney High School, początkowo nie dostał się do szkolnej drużyny koszykarskiej. W następnej klasie urósł ponad 10 cm i zaczął występować w szkolnej drużynie na pozycji skrzydłowego. Wtedy właśnie wybrał numer 23, o połowę mniejszy od numeru 45, który nosił Larry.
W listopadzie 1980 r. rozpoczął naukę w znanym college’u North Carolina at Chapel Hill. W tamtejszej drużynie koszykarskiej spotkał dwóch wybitnych zawodników – Jamesa Worthy’ego i Sama Perkinsa. 29 marca 1982 r. drużyna Tar Heels z pierwszoroczniakiem Jordanem w składzie zwyciężyła w finale mistrzostw NCAA, a Jordan oddał decydujący o zwycięstwie rzut na kilkanaście sekund przed końcem. Przeciwnikami była drużyna Georgetown, prowadzona przez Patricka Ewinga. Po skończeniu szkoły przez Worthy’ego drużyna nie odnosiła już takich sukcesów, ale talent Jordana rozwijał się – w 1984 r. został wybrany akademickim graczem roku (College Player of the Year). Wtedy też, rok przed dyplomem, opuścił uczelnię i przystąpił do draftu NBA. W 1986 r., w trakcie długiej przerwy spowodowanej kontuzją, Jordan wrócił na uczelnię i dokończył studia, zdobywając dyplom w dziedzinie geografii.
    </p>
{% endblock %}