{% extends 'base.html.twig' %}

{% block body %}
    <p>
        Wade
        Dwyane Tyrone Wade, Jr. nazywany Flash lub D-Wade – amerykański profesjonalny koszykarz grający w Miami Heat
    </p>
{% endblock %}